body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffa600;
  text-decoration: none;
}

.delete-form {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
	
.delete-form button {
  color: red;
  background-color: rgb(200, 150, 150);
  border-radius: 35%;
}
	
li {
  list-style: none;
}


